{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@routes": "./src/routes",
                    "@middlewares": "./src/middlewares",
                    "@config": "./src/config",
                    "@interfaces": "./src/interfaces",
                    "@api": "./src/api",
                    "@services": "./src/services"
                }
            }
        ]
    ]
}
    